#qrcode {
    width: 254px;
    height: 254px;
    border: 2px solid  #1b1b1b;
    background-color: #ccc;
    text-align: center;
    vertical-align: center;
}

h2 span {
    color: rgba(0, 55, 255, 0.2);
}